*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
    font-family:'Kumbh Sans', 'sans-serif';
}

h1{
    font-size: 18px;
    font-weight: 700;
}

p{
    font-size: 14px;
}

small{
    font-size: 12px;
}

body{
    background-color: hsl(185, 75%, 39%);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height:400px;
    background-image: url(./images/bg-pattern-top.svg);
    background-size: cover;
    background-position: bottom;
}
.bot{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height:400px;
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: cover;
    background-position:top;
}

.attribution {
    width: 80%;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 90vh;
}
.card{
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius:0 0 1rem 1rem;
    position: relative;
    text-align: center;
}

.pattern {
    background-image: url(./images/bg-pattern-card.svg);
    width: 350px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
}

.profile{
    position: absolute;
    z-index: 100;
    top:-50px;
    left:32%;
}

.profile img{
    border-radius: 50%;
    border:7px solid white;
    margin-bottom: 1rem;
}
.profile h1{
    margin-bottom: 1rem;
    color: hsl(227, 10%, 46%);
}

.profile strong{
    font-weight: 700;
    color:hsl(229, 23%, 23%);
}

.stat{
    display: flex;
    color:hsl(229, 23%, 23%);
    margin-top: 160px;
    border-top:1px solid rgba(148, 148, 148, 0.3);
    padding:2rem;
}

.stat ul{
    list-style: none;
}

@media screen and (max-width:500px){
    .card, .pattern{
        width: 300px;
    }
    .profile{
        left: 30%;
    }
}
